<header>
  <span style="font-weight: bold;color:#457b9d">volkan özen</span>
  | <a href="/">about</a>
  ∘ <a href="/blog/">blog</a>
  ∘ <a href="/news/">news</a> 
  | <span style="font-weight: bold;color:#457b9d">artificia docuit fames.</span> <hr/>
</header>

